@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    padding: 0px;
    margin: 0px;
}
.nav{
    display: flex;
    height: 70px;
    width: 100%;
    position:fixed;
    top: 0;
}
.logo,img{
    height: 50px;
    width: 50px;
    margin-left:10%;
}
.logoSection{
    display: flex;
    width: 50%;
    margin-top: 10px;
}
.logoHead h3{
    color:rgb(245, 233, 233);
    margin-left: 15px;
    font-family: 'Cinzel', serif;
    font-size: 25px;
    margin-top: 12px;
}
.cont1{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    column-gap: 10%;
}
.cont2{
    width: 50%;
}
.cont1 a{
    color: azure;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
.cont1,a:hover{
    color: yellow;
}
/**  home page */
.home-page{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    border-radius: 5px;
    height: 780px;
}
.cont-items{
    width: 50%;
    padding-top:200px;
    padding-left:20%;
}
.cont-items h1{
    color:gold;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}

.cont-items h2{
    color: beige;
    font-size: 2rem;
}
.cont-items p{
    color: rgb(210, 197, 197);
}
#order-btn{
   background-color: rgb(54, 21, 21) ;
   border: 1px solid white;
   border-radius: 15px;
   height: 30px;
   width: 100px;
   margin-left: 10px;
   margin-top: 20px;
   color:whitesmoke;
   font-size: 15px;
}
#order-btn:hover{
    outline: 3px solid rgb(160, 115, 1);
    background-color: yellow;
    color: black;
}
.big-img{
    width: 47%;
}
.big-img img{
    height: 80%;
    width: 90%;
    padding-top:10%;
    margin-left: 0px;
}
.about-page{
    margin-top: 100px;
    display: flex;
    margin: 15% 10%;
}
.about-img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
}
.about-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.about-us{
    height: 100%;
    width: 100%;
    margin-left: 20%;

}
.about-us h1{
    font-size: 3rem;
    text-align: center;
}
.about-us p{
    text-align: center;
    font-size: 20px;
}
.about-section{
    margin: 0px;
    padding: 0px;
}
.icons{
    padding-left: 20%;
    margin-top: 5%;
}
.icons img{
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease-in-out;
}
.icons img:hover{
    transform: scale(1.1);
}
.menu-section{
    margin: 5%;
    padding: 0px;
    border: 1px solid rgb(217, 184, 190);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color:rgba(253, 199, 199, 0.581);
    box-shadow: 0px 4px 10px #FC5A8D;
}
#menu-head{
    align-self: center;
    color:orangered;
    font-family: 'Cinzel', serif;
    margin-top: 80px;
    font-weight: bolder;
    font-size: 50px;
}
.menu-subhead{
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    font-weight: bold;
    color: #3c2723 ;
}
.menu-section .menu1{
    display: flex;
    flex-direction: row;
    margin:5%;
    justify-content: space-evenly;
}
.menu-section .menu1 .card{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 0.2px solid red;
    border-radius: 20px;
    margin: 0px;
    box-shadow: 0px 4px 10px #FC5A8D;
}
.menu-section .menu1 .card img{
    width: 80%;
    height: 90%;
}
.menu-section .menu1 .card .item-details{
    margin-left:15%;
    flex-direction: column;
    margin-bottom: 5%;
}
.item-details button{
    width: 85%;
    border-radius: 20px;
    height: 30px;
    color: #FC5A8D;
    font-size: 20px;
    transition: transform 0.1s ease-in-out;
}
.item-details button:hover{
    background-color: #FC5A8D;
    color: white;
    transform: scale(0.97);
}
.card_cont1{
    font-size:30px; margin-bottom: 10px;font-family: 'Poppins', sans-serif;color:rgb(15, 79, 85);
}
.card_cont2{
    font-size:20px;margin-bottom: 10px;margin-left: 10px;font-weight: 800;color: red;
}
.login-container{
    border: 1px solid rgb(215, 173, 173);
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-self: center;
    margin-top: 240px;
    height: 300px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(185, 101, 104, 0.175);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.login-heading{
    font-weight: 300;
    font-size: 25px;
}
.login-email input{
     width: 260px;
     height: 30px;
     border: none;
     border-radius: 3px;
     background-color: rgb(255, 246, 246);
}
.login-pass input{
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 246, 246);
}
.reg{
    font-size: 13px;
}
.login-actions button{
    width: 80px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 14px;
}
.login-container input:hover{
    border: 1px solid;
}
.login-actions button:hover{
    color: white;
    background-color: #3c2723;
}
.login-container a{
    color: green;
    text-decoration: none;
    font-size: larger;
}
.reg-container{
    border: 1px solid rgb(215, 173, 173);
    display: flex;
    flex-direction: column;
    width: 370px;
    justify-self: center;
    margin-top: 200px;
    height: 500px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(185, 101, 104, 0.175);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.reg-heading{
    font-weight: 300;
    font-size: 25px;
}
.reg-name input{
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 246, 246);
}
.reg-num input{
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 246, 246);
}
.reg-email input{
     width: 260px;
     height: 30px;
     border: none;
     border-radius: 3px;
     background-color: rgb(255, 246, 246);
}
.reg-pass input{
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 246, 246);
}
.login{
    font-size: 13px;
}
.note{
    font-size: 13px;
}
.note span{
    font-size: 15px;
    color: red;
    text-decoration: underline 1.2px black;
}
.reg-actions{
    display: flex;
    flex-direction: row;
    justify-items:space-around;
}
.reg-actions button{
    width: 80px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 14px;
    margin: 0px 40px;
}
.reg-container input:hover{
    border: 1px solid;
}
.reg-actions button:hover{
    color: white;
    background-color: #3c2723;
}
.reg-container a{
    color: green;
    text-decoration: none;
    font-size: larger;
}
.reg-check1 #female{
       margin-left: 100px;
}
.reg-check1 input[type="radio"] {
    accent-color:rgb(45, 157, 45);
}
.reg-check2{
    margin-right: 48px;
}
.reg-check2 input{
     margin-bottom: 10px;
}
.reg-check2 input[type="checkbox"] {
    accent-color:rgb(45, 157, 45);
}
.cont-heading{
    margin-top: 100px;
    margin-left: 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: orangered;
}
.contact-page{
    margin: 90px 80px 0px 80px;
    height: 750px;
    display: flex;
    justify-content: center;
}
.contact-cont{
    height: 700px;
    width: 40%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.contact-form{
    height: 700px;
    width: 40%;
    margin: 25px;
}
.contact-cont img{
    width: 25px;
    height: 25px;
}
.cont{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.form-cont input{
    height: 35px;
    margin-top: 40px;
    width: 100%;
    border-radius: 3px;
    border: none;
}
#text-msg{
    width: 100%;
    margin-top: 40px;
    border-radius: 3px;
    border: none;
}
.form-cont input:hover{
    border: 1px solid;
}
#text-msg:hover{
    border: 1px solid; 
}
.form-cont button{
    margin-top: 40px;
    border-radius:3px;
    width: 70px;
}
.form-cont button:hover{
    background-color: #3c2723;
    color: white;
}
.gallery-section{
    margin-top: 80px;
}
table{
    color: white;
    width: 80%;
    height: 1800px;
}
table img{
   width: 90%;
   height: 90%;
   margin: 0px;

}
table caption{
    font-size: 3rem;
    margin-left: 70px;
    color: yellow;
}
table td{

    border-radius: 10px;
    background-color: rgb(27, 26, 26);
}
.order-page{
    height: 600px;
    margin-top: 120px;
    width: 500px;
    justify-self: center;
    background-color:#F9FAFB;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.049),-4px -4px 10px 5px  rgba(0, 0, 0, 0.066);
}
.order-page form{
    width: 100%;
    height: 100%;
}
.order-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#order-heading{
    font-size: 1.7rem;
    margin: 20px 0px 40px 0px;
}
.order-name input,.order-num input{
     width:300px;
     height: 40px;
     background-color:rgb(230, 229, 229);
     border-radius: 3px;
     border: none;
}
.order-item{
    font-size: 1rem;
}
.order-item span{
    font-size: 1.5rem;
    color: darkgoldenrod;
}
.order-count{
    margin-left: -208px;
}
.order-count #left{
    background-color: #2F80ED ;
    border-radius: 3px 0px 0px 3px;
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
    border: 0.1px solid #2F80ED;
}
.order-count #right{
    background-color: #2F80ED ;
    border-radius: 0px 3px 3px 0px;
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
    border: 0.1px solid #2F80ED;
}
.order-count input{
    height: 30px;
    width: 30px;
    border: 0.1px solid #2F80ED;
    color: black;
    font-size: 1.2rem;
}
.order-page input::placeholder{
    color: rgb(104, 92, 92);
}
select{
    width:300px;
    height: 40px;
    border-radius: 3px;
    background-color:rgb(230, 229, 229);

}
.input-loc input,.order-num input{
    width:300px;
    height: 40px;
    background-color:rgb(230, 229, 229);
    border-radius: 3px;
    border: none;
}
.order-payment{
    width:300px;
    height: 40px;
}
.order-payment .pay-heading{
    margin: 10px;
    font-size: 1.2rem;
}
.order-payment input{
    margin: 10px;
}
#cod{
    margin-left: 50px;
}
.order-confirm-btn button{
    margin-top: 70px;
    width:300px;
    height: 30px;
    border-radius: 50px;
    background-color: #2F80ED;
    border: none;
    color: white;
    transition: transform 0.1s ease-in-out;
}
.order-confirm-btn button:focus{
    transform: scale(0.97);
}

